<% if @user.display_name %>
<h1><%= @user.display_name %>'s Profile</h1>
<% else %>
<h1><%= @user.username %>'s Profile</h1>
<% end %>

<p><%= @user.profile %></p><br>



<p><%= button_to "Edit My Profile", edit_user_path, method: :get %></p>